body {
    text-align: center;
    margin-top: 50px;
    background-color: black;
    color: white;
}

#game {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    border: 2px solid white;
    background-color: black;
}

.paddle {
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: white;
}

#paddle1 {
    left: 10px;
    top: 250px;
}

#paddle2 {
    right: 10px;
    top: 250px;
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: 290px;
    left: 390px;
}

#instructions {
	display: flex;
	justify-content: space-around;
	align-items: center;
}