* { 
  box-sizing: border-box;
} 

html { 
  scroll-behavior: smooth; 
} 

body {
  font-family: Gill Sans, sans-serif; 
  height: 200vh;
  position: relative;
  display: flex;
  margin: 0;
  background-color: black;
}

#stringContainer {
  height: 100%;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  position: absolute;
  z-index: 98;
  color: rgb(5, 0, 78);
  font-weight: 700;
  overflow: hidden;
}

.string {
  word-wrap: break-word;
  white-space: wrap;
}

#backgroundContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  pointer-events: none;
  overflow: hidden;
}

.circle {
  position: absolute;
  width: 4000px;
  height: 4000px;
  transform: translate(-50%,-50%);
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 1%, rgb(0, 0, 20) 3%, rgb(0, 0, 20) 100%);
  pointer-events: none;
  transition: transform 0.1s;
}

#mainContainer {
  z-index: 100;
  position: absolute;
  display: flex; 
  align-items: center; 
  gap: 13vh; 
  flex-direction: column; 
  height: 200vh;
  width: 100%;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) { 
  #card { 
      -webkit-backdrop-filter: blur(20px); 
      backdrop-filter: blur(20px); 
  } 
} 

#nameContainer { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%;
} 

#name { 
  color: whitesmoke; 
  font-size: 7vmin; 
  letter-spacing: 0.65vmin; 
  font-family: Gill Sans, sans-serif; 
  font-weight: 600; 
  text-transform: uppercase; 
}

h2 { 
  color: whitesmoke;
  position: absolute;
  top: 20vh;
  font-size: 5vmin;
  letter-spacing: 0.65vmin; 
  font-family: Gill Sans, sans-serif; 
  font-weight: 500; 
  text-transform: uppercase;
  text-align: center;
} 

#bioContainer { 
  width: 90%; 
  line-height: 1.6; 
  letter-spacing: 0.18vmin; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-align: center;
  color: whitesmoke; 
  font-size: 3vmin; 
  font-family: Gill Sans, sans-serif; 
  font-weight: 600;
} 

#projectContainer { 
  background-color: rgba(70, 70, 70, 0.15); 
  filter: drop-shadow(0 0 5px rgb(50,50,50,0.5)); 
  width: 75vw; 
  height: 35vh; 
  display: flex; 
  align-items: center; 
  justify-content: space-around; 
  border-radius: 20px; 
  margin-top: 40vh;
}

#projectsButton { 
  opacity: 0; 
  transition: opacity 1.5s, transform 0.5s; 
  transition-delay: opacity 0.5s;
  text-decoration: none; 
  color: white; 
  letter-spacing: 0.18vmin; 
  font-size: 3vmin; 
  font-family: Gill Sans, sans-serif; 
  font-weight: 600; 
  border: 1px solid white; 
  border-radius: 5px; 
  padding: 1vw; 
}

#projectsButton:hover {
transform: scale(1.05);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) { 
  #projectContainer { 
      -webkit-backdrop-filter: blur(2px); 
      backdrop-filter: blur(2px); 
  } 
} 

.picture { 
  width: 20vmin; 
  height: 25vmin;
  padding: 1vmin 2vmin;
  object-fit: contain;
  background-color: black;
  border-radius: 12px;
  transition: transform .4s;
}

.picture:hover {
  transform: scale(1.1);
}
